{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}


{% block main %}
    <form action="/quote" method="post">
        <head style="text-align: center">
            Search for Stock
        </head>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Stock Name" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>
{% endblock %}